@import "../../styles/contants.scss";

.wrapper {
  background: white;
  .container {
    gap: 2rem;
    @media (max-width: $sm) {
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
    }
    .left {
      flex: 3;
      > * {
        display: block;
      }
      > :nth-child(2) {
        margin-top: 3rem;

        a {
          text-decoration: underline;
          color: orange;
        }
      }
      > :nth-child(3n) {
        margin-top: 3rem;
        a {
          left: 15%;
          padding: 0 30px;
          color: $primary;
          text-decoration: none;
          text-transform: uppercase;
          border-left: 3px solid $secondary;
          border-right: 3px solid $secondary;
          position: relative;
          transition: all 0.5s;
          &::before {
            content: "";
            width: 0;
            height: calc(100% - 2px);
            border-top: 3px solid $secondary;
            border-bottom: 3px solid $secondary;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.5s;
          }
          &::after {
            content: "";
            width: 0;
            height: calc(100% - 2px);
            border-top: 3px solid $secondary;
            border-bottom: 3px solid $secondary;
            position: absolute;
            top: 0;
            right: 0;
            transition: all 0.5s;
          }
          &:hover {
            padding: 10px 20px;
            &::before {
              width: 50%;
              animation-name: widthbtn;
              animation-duration: 1500ms;
            }
            &::after {
              width: 50%;
              animation-name: widthbtn;
              animation-duration: 1500ms;
            }
          }

          @keyframes widthbtn {
            0% {
              width: 0;
            }
            20% {
              width: 0;
            }
            100% {
              width: 50%;
            }
          }
        }
      }
    }

    .right {
      flex: 1;
      .info {
        margin-bottom: 1rem;
        > * {
          display: block;
        }
      }
      .menu {
        @media (max-width: $sm) {
          flex-direction: row;
          flex-wrap: wrap;
        }
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        li {
          cursor: pointer;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}
